div,
input,
textarea {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.flex-container {
  display: flex;
  background-color: indianred;
  height: 50px;
  align-items: center;
}

.flex-item {
  color: white;
  margin: 5px;
}

@media screen and (max-width: 1200px) {
  .main-title,
  .main-content {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .main-title,
  .main-content {
    font-size: 15px;
  }
}

.mid-container {
  width: 500px;
  height: 220px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.mid-box {
  width: 200px;
  height: 100px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.mid-container i {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background-color: burlywood;
  padding-top: 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 992px) {
  .mid-container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 576px) {
  .mid-container {
    flex-wrap: wrap;
  }
}

.shop-bg {
  padding: 20px;
}

.shop-container {
  display: flex;
  justify-content: center;
  margin: auto;
  overflow: hidden;
}

.shop-item {
  width: 10%;
  margin-right: 20px;
}

.shop-item img {
  width: 100%;
  height: 100px;
  display: block;
}

.overflow {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 2s;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}
.shop-item:hover {
  .overflow {
    opacity: 1;
    transform: translateY(-50px);
  }
}

input[type="file"]::-webkit-file-upload-button {
  background-color: aqua;
  border: none;
}

input::-webkit-input-placeholder {
  color: red;
}

progress {
  appearance: none;
}

progress::-webkit-progress-bar {
  appearance: none;
  background-color: blue;
}
progress::-webkit-progress-value {
  appearance: none;
  background-color: red;
}
