.alert-box {
    width: 50%;
    padding: 30px;
    background: skyblue;
    border-radius: 10px;
    display: none;
    color: white;
    text-align: center;
    margin: auto;
}

.list-group {
    overflow: hidden;
    height: 0px;
    transition: all 1s;
}
.black-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    padding: 30px;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}

.show-modal {
    visibility: visible;
    opacity: 1;
}

.view {
    height: 400px;
}

.white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
    transform: translateY(0px);
    transition: all 1s;
}

.dark-mod {
    background-color: black;
    color: white;
}

.light-mod {
    background: white;
    color: black;
}

.slide-container {
    width: 300vw;
    transition: 1s;
}

.slide-box {
    width: 100vw;
    float: left;
}

.slide-box img {
    width: 100%;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 5;
    font-size: 1px;
}

.navbar-brand {
    font-size: 30px;
    transition: all 1s;
}

.gauge {
    width: 0;
    height: 5px;
    background-color: aqua;
    transition: all 0.5s;
}
