/* ▼ WHERE YOUR CODE BEGINS */
body {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
  animation-name: hidden;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.progress-bar {
  position: relative;
  width: 300px;
  height: 12px;
  background-color: #e5eaef;
  border-radius: 100px;
  overflow: hidden;
}

.progress-bar::before {
  content: "";
  display: block;
  width: 0px;
  height: 100%;
  background-color: #13ce66;
  animation-name: loding;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes loding {
  0% {
    width: 0;
    opacity: 1;
  }

  90% {
    width: 100%;
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 0;
  }
}

@keyframes hidden {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
