:root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkolivegreen;
  height: 100vh;
  color: bisque;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
